html,
body {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.hero-container {
    background-color: #1F2937;
}

.left,
.right {
    display: flex;
    flex-direction: column;
}

.header-logo {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

.header-list {
    display: flex;
    gap: 16px;
}

.hero-title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8
}

.hero-subtext {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    border-radius: 5px;
    padding: 5px 22px;
    border: none;
    font-size: 18px;
}

.hero-wrapper>img {
    width: 600px;
    height: 300px;
    background-color: grey;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}