html,
body {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.hero-section {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    flex: 1;
}

.hero {
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0;
}

.bottom {
    display: flex;
    margin: 110px 0;
}

.left,
.right {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.header-logo {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
    font-family: 'Poppins', sans-serif;
    border: 2px solid #3882F6;
    border-radius: 8px;
    padding: 5px;
}

.header-list {
    display: flex;
    gap: 30px;
}

.hero-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.hero-title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8
}

.hero-subtext {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 40px;
}

.right>img {
    display: flex;
    width: 700px;
    height: auto;
    background-color: grey;
    border: 2px solid white;
    border-radius: 15px;
}

.information-section {
    flex: 1;
    margin-bottom: 120px;
}

.information-header {
    text-align: center;
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    margin: 50px 0;
}

.information-list-container {
    display: flex;
    justify-content: center;
}

.information-list {
    display: flex;
    align-items: start;
    gap: 80px;
}

.information-list>li>img {
    display: flex;
    width: 250px;
    height: auto;
    border: 3px solid #3882F6;
    border-radius: 12px;
    color: white;
    margin-bottom: 5px;
}

.information-list>li {
    width: 250px;
    text-align: center;
    color: #424c5a;
}

.quote-section {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    flex: 1;
}

.quote-text-container {
    width: 770px;
    margin: 120px 0;
}

.quote-text {
    color: #1F2937;
    font-size: 36px;
    font-weight: 100;
}


.quote-author {
    font-size: 18px;
    color: #1F2937;
    font-weight: 700;
    text-align: end;
}

.sign-up-section {
    display: flex;
    justify-content: center;
    flex: 1;
    margin: 100px;
}

.sign-up-modal {
    display: flex;
    gap: 80px;
    background-color: #3882F6;
    border-radius: 8px;
    align-items: center;
    padding: 40px 120px;

}

.sign-up-text {
    color: #E5E7EB;
}

.sign-up-title {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 500;
}

.sign-up-modal>a>button {
    border: 2px solid white;

}

.footer {
    background-color: #1F2937;
    text-align: center;
    padding: 30px 0;
}

button {
    background-color: #3882F6;
    border-radius: 8px;
    padding: 8px 32px;
    border: none;
    font-size: 16px;
    font-weight: 700;
    color: #F9FAF8;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}
