html,
body {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.hero-container {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    flex: 1;
    
}

.hero {
    width: 1200px;
    display: flex;
}

.left,
.right {
    display: flex;
    flex-direction: column;
}

.right {
    align-items: flex-end;
}

.header-logo {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

.header-list {
    display: flex;
    gap: 16px;
}

.hero-title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8
}

.hero-subtext {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    border-radius: 5px;
    padding: 5px 22px;
    border: none;
    font-size: 18px;
}

.right>img {
    width: 400px;
    height: 200px;
    background-color: grey;
}

.information-container {
    flex: 1;
}

.quote-container {
    flex: 1;
}

.sign-up-container {
    flex: 1;
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}